
header {
  color: rgb(0, 0, 0);
  text-align: right;
  padding-right: 5%;
  padding-top: 10px;
  border-bottom: black 1px solid;
}

header div h4 {
  font-weight: bold;
}



header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header img {
  width: 200px;
  height: 70px;
  margin-left: 5%;
}

header .flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

body {
  background-image: url("/Assets/images/cardhub-bg.jpeg");
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  border-top: black 1px dashed;
  display: flex;
  width: 100%;
  flex: 1;
  margin: 30px auto;
}


/* LEFT COLUMN */
.bis-card {
  width: 300px;
  height: 100px;
  position: relative;
  border: black 1px solid;
  padding: 120px 250px;
  font-size: 15px;
  margin-top: 25px;
  background-color: rgb(255, 255, 255);
}

.logo-card {
  margin: 0;
  width: 150px;
  height: 100px;
  cursor: move;
  position: absolute;
  top: 60px;
  background-color: rgb(3, 3, 3);
}

.bis-card p {
  position: absolute;
  margin: 0;
}

.nam {
  top: 1px;
  left: 200px;
  cursor: move;
  user-select: none;
}

.tim {
  top: 20px;
  left: 200px;
  cursor: move;
  user-select: none;
}

.web {
  bottom: 0;
  left: 225px;
  cursor: move;
  user-select: none;
}

.num {
  bottom: 25px;
  left: 50px;
  cursor: move;
  user-select: none;
}

.em {
  bottom: 10px;
  left: 50px;
  cursor: move;
  user-select: none;
}

.add {
  bottom: 25px;
  right: 50px;
  cursor: move;
  user-select: none;
}

.left {
  padding: 10px;
}

#prev {
  text-align: center;
  font-family: monospace;
  padding-top: 10px;
  margin-top: 50px;
}

.bottom {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  color:black;
  }

/* END OF LEFT COLUMN */



/* MIDDLE COLUMN */
.middle-column {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  text-align: center;
}

#logo-upload {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#logo-upload input[type="file"] {
  display: block;
  margin: 0 auto;
}

input #logo-upload {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input .btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #b41e1e;
  border-color:aquamarine;
  color: white;
  border: none;
  cursor: pointer;
}

.middle-column h3 {
  font-family: monospace;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.column div  {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 25px;
}

/* END OF MIDDLE COLUMN */


/* RIGHT COLUMN */
input[type="text"] {
  text-align: left;
  
} 

.column h4 {
  text-align: center;
  padding: 10px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  margin-top: 50px;
  font-family: monospace;
}

.button-group {
  display: flex;
  justify-content:end;
  margin-top: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}
.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* END OF RIGHT COLUMN */

input[type="color"] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer h4 {
  text-align: center;
  padding: 10px;
  font-family: monospace;
  color: white;
}

@media screen and (max-width: 992px) {
  main{
    width: 100%;
  }

  /* Change the header color */
  header {
    background: #772014;
  }
  .bis-card {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  main{
    width: 100%;
  }
  /* Change the header color */
  header {
    background: #8ac4ff;
  }
}